*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 80px;
    border: 2px solid black;
    background-color: #cccccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    outline: none;
    padding: 15px;
    border: none;
    border: 1px solid black;
}

button {
    outline: none;
    padding: 15px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
}

.movie-wall {
    padding: 50px 0;
    background-color: cadetblue;
    border: 2px solid black;
}

.movie-wall>.movie-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-wall>.movie-list .single-movie {
    width: calc(100% / 4);
    padding: 20px 15px;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-list  .single-movie>* {
    padding: 10px;
}

#template {
    display: none;
}

#template>span>i {
    color: goldenrod;
}