*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cccccc;
}

.container{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    color: red;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

#search-bar {
    display: flex;
}

input {
    outline: none;
    margin: 0 5px;
    padding: 16px;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
}

button {
    outline: none;
    margin: 0 5px;
    padding: 15px;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

button:hover {
    background-color: red;
    color: #ffffff;
}

.movie-wall {
    margin-top: 80px;
    padding: 50px 0;
    background-color: #cccccc;
}

.movie-wall h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
}

.movie-wall>.movie-list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-wall>.movie-list .single-movie {
    width: calc(100% / 4);
    padding: 20px 15px;
    border: 2px solid #ffffff;
    background-color: black;
    color: #ffffff;
}

.movie-list  .single-movie>* {
    padding: 10px;
}

.single-movie>.info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.single-movie>.info>* {
    padding: 18px 10px;
    width: 100%;
}

#vote i {
    color: goldenrod;
}

.single-movie>.info>div>img {
    width: 24px;
    vertical-align: middle;  
}

#info {
    display: none;
}

#img>p{
    text-align: center;
    color: chartreuse;
    padding: 30px 5px;
    font-style: italic;
}

.single-movie>.info>p {
    letter-spacing: 2px;
    font-size: 18px;
    color: black;
    text-shadow: 
  -1px 0 #f6f6f6, 0 1px #f6f6f6, 1px 0 #f6f6f6, 0 -1px #f6f6f6;
}

