*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

ul,
li {
    list-style-type: none;
}

.container{
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#w-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-container {
    display: flex;
    align-items: center;
}

#w-container i,
#search-bar>i {
    color: #ffffff;
    font-size: 26px;
    padding: 0 20px;
    transition: all 0.3s;
    cursor: pointer;
}

#w-container i:hover,
#search-bar>i:hover {
    color: red; 
}

#logo {
    padding: 3px 0 0 10px;
    color: red;
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

#search-bar {
    display: flex;
    align-items: center;
}

input {
    outline: none;
    margin: 0 5px;
    padding: 16px;
    border: none;
    border-radius: 10px;
}

input.border {
    border: 2px dashed red;
}

button {
    outline: none;
    margin: 0 5px;
    padding: 15px;
    border: none;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;
}

button:hover {
    background-color: red;
    color: #ffffff;
    border: 2px solid #ffffff;
}

input,
button {
    display: none;
}

.movie-wall {
    margin-top: 80px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.movie-wall>h2 {
    width: 100%;
    padding: 30px 0;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
}

#movie-wall>.movie-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.movie-wall>.movie-list .single-movie {
    position: relative;
    width: calc(100% / 6);
    color: #ffffff;
    transition: transform 0.3s ease 0.1s;
}

.movie-wall>.movie-list .single-movie:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#movie-wall>h3 {
    padding: 22px;
    color: #ffffff;
    font-size: 30px;
}

.movie-list  .single-movie>* {
    padding: 10px;
}

.single-movie>.info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.single-movie>.info>* {
    padding: 8px 10px;
    width: 100%;
}

#vote i {
    color: goldenrod;
}

.single-movie>.info>div>img {
    width: 24px;
    vertical-align: middle;  
}

#info {
    background-color: black;
    display: none;
    margin-bottom: 30px;
    height: 300px;
    z-index: 90;
}

#info #cast {
    display: flex;
}

#img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img>#not-found>p{
    text-align: center;
    color: chartreuse;
    padding: 30px 5px;
    font-style: italic;
}

#img>#not-found>h2{
    width: 100%;
    text-align: center;
    padding: 30px 5px;
}

#img>img {
    height: 400px;
}

#img>#not-found {
    width: 100%;
    height: 400px;
    border: 1px solid #ffffff;
}

.single-movie>.info>p {
    letter-spacing: 2px;
    font-size: 19px;
    color: black;
    text-shadow: 
  -1px 0 #f6f6f6, 0 1px #f6f6f6, 1px 0 #f6f6f6, 0 -1px #f6f6f6;
}

/* MEDIA QUERY */



@media all and (max-width: 1640px) {

    .movie-wall>.movie-list .single-movie{
        width: calc(100% / 5);
    }

}


@media all and (max-width: 1400px) {

    .movie-wall>.movie-list .single-movie{
        width: calc(100% / 4);
    }

}

@media all and (max-width: 1280px) {

    .movie-wall>.movie-list .single-movie{
        width: calc(100% / 3);
    } 

    .movie-wall>.movie-list .single-movie>#info{
        width: 100%;
        padding: 0 0 0 40px;
    } 

    .single-movie>.info>* {
        padding: 5px;
        width: 100%;
    }

}

@media all and (max-width: 835px) {

    .movie-wall>.movie-list {
        justify-content: center;
    }

    .movie-wall>.movie-list .single-movie{
        width: calc(80% / 2);
    } 

    .movie-wall>.movie-list .single-movie:hover {
        transform: scale(1);
    }
}

@media all and (max-width: 680px) {

    .movie-wall>.movie-list .single-movie{
        width: 100%;
    } 
}